/* style.css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-image: url(flores.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;


}

header {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    padding: 15px 30px;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 80px;
    transition: transform 0.3s ease;
}

header .logo img:hover {
    transform: scale(1.05);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4CAF50;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

h1 {
    text-align: center;
}

#corpoForm {
    padding: 20px;
    background-color: #26CA41;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

#botoes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

label {
    margin: 10px 0;
    display: inline-block;
    width: 210px;
    font-weight: bold;
    text-align: left;

}

input[type="text"],
select,
textarea {
    width: 20vw;
    padding: 8px;
    margin: 2px auto;
}

input[type="button"] {
    /* margin-top: 20px; */
    margin: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}